<div class="heading">
  <h1 class="card">Wheather Report</h1>
</div>



<div class="main">
  <div class="input-box">
    <div>
      <label> Enter the city name :  </label>
      <input (keyup)= "onKey($event)" placeholder="City Name"/>
    </div>
    <div class="search-cls">
      <br>
      <button (click)="citySearch()" class="search-btn">Search</button>
    </div>
  </div>
  <br>
  <br>
  <br>
  
  <div [ngClass]="(imageLink)?'card card-design':''">
    <h2 *ngIf="flag" class="card">{{brews.name}}</h2>
    <img *ngIf="flag" class="card" src={{imageLink}}>
    <h2 *ngIf="flag" class="card">{{ brews.main.temp-273 | number : 0}}&#8451;</h2>
    <p *ngIf="flag" class="card">{{brews.main.temp_min-273 | number : 0}}&#176;/{{brews.main.temp_max-273 | number : 0}}&#176; feels like {{brews.main.feels_like-273 | number : 0}}&#176;</p>
  </div>

  <router-outlet></router-outlet>
</div>
